@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
.dark-theme {
  --color-primary:	#2f3542;
  --color-secondary:	#57606f;
  --color-tertiary:	#747d8c;
  --color-highlight-theme-border:	#fdcb6e;
  --color-no-highlight-theme-border:	#747d8c;
  --color-highlight-theme-picto:	#fdcb6e;
  --color-bg-input:	#57606f;
  --color-border:	#57606f;
  --color-separator:	#747d8c;
  --color-font:	#fff;
  --gradient-metal-effect:	linear-gradient(0deg, #747d8c 50%, rgba(255, 255, 255, .1) 50%);
}

.light-theme {
  --color-primary:	#fff;
  --color-secondary:	#fff;
  --color-tertiary:	#fff;
  --color-highlight-theme-border:	#74b9ff;
  --color-no-highlight-theme-border:	#747d8c80;
  --color-highlight-theme-picto:	#74b9ff;
  --color-bg-input:	#dcdee2;
  --color-border:	#747d8c;
  --color-separator:	#2f3542;
  --color-font:	#57606f;
  --gradient-metal-effect:	linear-gradient(0deg, rgba(0, 0, 0, .1) 50%, #fff 50%);
}

.blue {
  color: #0984e3;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #57606f;
  }
}
/* The progress bar effect */
@keyframes progress-bar {
  from {
    width: 0;
  }
}
/* The infinite slide effect */
@keyframes slide {
  from {
    background-position-x: 2rem;
  }
  to {
    background-position-x: 0;
  }
}
@keyframes appear {
  from, 50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 305px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%2357606f' fill-opacity='0.25' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.main-content {
  flex: 1;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.bold {
  font-weight: bold;
}

.highlight {
  color: #0984e3;
}

.border-rounded {
  border-radius: 10px;
}

.icn {
  width: 1rem;
  height: 1rem;
}
.icn > img {
  object-fit: contain;
}

p {
  margin: 0;
  padding: 0;
  text-justify: auto;
}

/* [768px -> 1023] */
@media only screen and (min-width: 640px) {
  .main-content {
    flex: 1;
  }
}
/* Mobile devices [320px -> 479px] */
.main-content {
  width: 320px;
}

.content-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 30px;
  box-sizing: border-box;
  background: var(--color-bg-input);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.content-section:last-child {
  margin-bottom: 0;
}

.content-sub-section {
  margin-bottom: 60px;
  padding: 30px;
  box-sizing: border-box;
  background: #2f3542;
  border-radius: 10px;
}

.title-section {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1rem;
}
.title-section:after {
  content: "";
  display: block;
  width: 70px;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: solid 4px var(--color-font);
}

p,
span {
  font-size: 0.6rem;
}

.content-align-horizontally {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.content-align-horizontally:last-child {
  margin-bottom: 0;
}
.content-align-horizontally > .child-left {
  margin-bottom: 20px;
}

.content-align-vertically {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.content-align-vertically:last-child {
  margin-bottom: 0;
}
.content-align-vertically > .child-up {
  margin-bottom: 20px;
}

.content-img {
  width: 100%;
  height: auto;
}
.content-img > img {
  width: 100%;
  height: auto;
}

.content-text {
  flex: 1;
}

.content-iframe {
  width: 220px;
  height: 250px;
}
.content-iframe > iframe {
  width: 220px;
  height: 250px;
}

/* Tablets [480px -> 767px] */
@media only screen and (min-width: 480px) {
  .main-content {
    width: 480px;
  }
  .content-iframe {
    width: 380px;
    height: 300px;
  }
  .content-iframe > iframe {
    width: 380px;
    height: 300px;
  }
  .title-section {
    font-size: 1.6rem;
  }
  p,
span {
    font-size: 0.8rem;
  }
}
/* Laptop [768px -> 1023px] */
@media only screen and (min-width: 768px) {
  .main-content {
    width: 768px;
  }
  .content-align-horizontally {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content-align-horizontally > .child-left {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .content-img {
    width: 33%;
  }
  .content-img-full-size {
    width: 100%;
    height: auto;
  }
  .content-img-full-size > img {
    width: 100%;
    height: auto;
  }
  .content-iframe {
    width: 100%;
    height: 400px;
  }
  .content-iframe > iframe {
    width: 100%;
    height: 400px;
  }
  .title-section {
    font-size: 1.8rem;
  }
  p,
span {
    font-size: 1rem;
  }
}
/* Desktop [1024px -> infinite] */
@media only screen and (min-width: 1024px) {
  .main-content {
    width: 1024px;
  }
  .content-iframe {
    width: 400px;
    height: 300px;
  }
  .content-iframe > iframe {
    width: 400px;
    height: 300px;
  }
  .title-section {
    font-size: 2rem;
  }
}
/* Mobile devices [320px -> 479px] */
.menu {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
}
.menu > #trigger-menu {
  position: absolute;
  display: none;
}
.menu > #trigger-menu:checked ~ ul {
  height: 342px;
  border-bottom: solid 3px var(--color-tertiary);
  transition: 0.3s;
}
.menu > .name-menu {
  position: absolute;
  display: none;
}
.menu > ul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 0;
  margin: 0;
  padding: 0 0 0 40px;
  box-sizing: border-box;
  background: var(--color-primary);
  border-bottom: solid 0 var(--color-tertiary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  list-style: none;
  transition: 0.3s;
}
.menu > ul > .parent-menu-ctn:first-child {
  padding-top: 10px;
}
.menu > ul .link-menu {
  display: block;
  width: fit-content;
  margin: 0;
  padding: 10px 0;
  color: var(--color-font);
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.menu > ul .link-menu:after {
  content: "";
  display: block;
  width: 0;
  margin: auto;
  border-bottom: solid 2px #0984e3;
  transition: 0.3s;
}
.menu > ul .link-menu:hover {
  color: #0984e3;
}
.menu > ul .link-menu:hover:after {
  width: 100%;
  transition: 0.3s;
}
.menu > ul .sub-menu-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  padding-left: 20px;
  border-left: solid 2px var(--color-font);
}
.menu > ul > .close-menu-cta {
  position: absolute;
  top: 0;
  left: calc(100vw - 40px);
  z-index: 2;
}
.menu > ul > .close-menu-cta > #close-menu {
  margin-top: 20px;
  color: var(--color-font);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.menu > ul > .close-menu-cta > #close-menu:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  background: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.header #ctn-header-cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header #ctn-header-cta > .fa-solid {
  margin: 10px;
  padding: 10px;
  background: var(--color-primary);
  color: var(--color-font);
  border: solid 1.5px var(--color-no-highlight-theme-border);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.header #ctn-header-cta > .fa-solid:hover {
  color: var(--color-highlight-theme-picto);
  border: solid 1.5px var(--color-highlight-theme-border);
  transition: 0.3s;
}

.dark-theme .switch-theme-moon {
  position: absolute;
  display: none;
}

.light-theme .switch-theme-sun {
  position: absolute;
  display: none;
}

/* Tablets [480px -> 767px] */
/* Laptop [768px -> 1023px] */
/* Desktop [1024px -> infinite] */
@media only screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
    background: var(--color-secondary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .menu > .name-menu {
    position: relative;
    display: block;
    width: 100%;
    color: var(--color-font);
    font-size: 1.2rem;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
  .menu > ul {
    position: relative;
    overflow: inherit;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: fit-content !important;
    padding: 0;
    background: none;
    border-bottom: none;
    box-shadow: none;
  }
  .menu > ul .parent-menu-ctn {
    position: relative;
  }
  .menu > ul .parent-menu-ctn:first-child {
    padding-top: 0;
  }
  .menu > ul > .parent-menu-ctn > .link-menu, .menu > ul > .link-menu {
    width: max-content;
    margin: 0 10px;
    padding: 20px 10px;
    text-align: center;
  }
  .menu > ul .sub-menu-ctn {
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    display: none;
    padding: 0;
    background: var(--color-secondary);
    border: solid 1px var(--color-font);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .menu > ul .sub-menu-ctn > .link-menu {
    padding: 10px 20px;
    font-size: 1rem;
  }
  .menu > ul .sub-menu-ctn:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-top: -9px;
    margin-left: 35px;
    transform: rotate(45deg);
    background: var(--color-secondary);
    border-top: solid 1px var(--color-font);
    border-left: solid 1px var(--color-font);
  }
  .menu > ul .accueil-menu:hover ~ .sub-accueil, .menu > ul .sub-accueil:hover {
    display: flex;
    flex-direction: column;
  }
  .menu > ul > .close-menu-cta:last-child {
    position: absolute;
    display: none;
  }
  .header {
    position: sticky;
    top: 69px;
    right: 0;
    background: none;
    box-shadow: none;
  }
  .header > #ctn-header-cta {
    position: relative;
  }
  .header > #ctn-header-cta > #open-menu {
    position: absolute;
    display: none;
  }
}
/* Mobile devices [320px -> 479px] */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background: var(--color-secondary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.footer > #social-ctn {
  margin-bottom: 15px;
}
.footer > #social-ctn > a {
  margin: 0 10px;
}
.footer > #social-ctn > a:hover > i {
  opacity: 0.4;
  transition: 0.3s;
}
.footer > #social-ctn > a > i {
  width: auto;
  height: 1.5rem;
  color: var(--color-font);
  font-size: 1.5rem;
  transition: 0.3s;
}
.footer > span {
  display: block;
  width: 100%;
  color: var(--color-font);
  text-align: center;
  text-transform: uppercase;
}

/* Tablets [480px -> 767px] */
/* Laptop [768px -> 1023px] */
/* Desktop [1024px -> infinite] */
.btn {
  padding: 10px 20px;
  background: #0984e3;
  color: #fff;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background: #74b9ff;
  transition: 0.3s;
}
.btn-submit {
  padding: 10px 20px;
  background: var(--color-font);
  color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
  border-radius: 4px;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
.btn-submit:hover {
  opacity: 1;
  transition: 0.3s;
}

.typewriter {
  overflow: hidden;
  border-right: 4px solid #0984e3;
  white-space: nowrap;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

.ctn-typewriter {
  width: fit-content;
}

.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper > .title {
  color: #747d8c;
  font-size: 38px;
  font-style: italic;
  font-weight: 800;
}
.swiper > .timeline {
  width: 100%;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
}
.swiper > .timeline > .swiper-container {
  position: relative;
  width: 100%;
  height: 600px;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper {
  transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide::after {
  content: "";
  position: absolute;
  right: -115%;
  bottom: -10%;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-shadow: -230px 0 150px 60vw rgba(47, 53, 66, 0.7);
  background-color: rgba(47, 53, 66, 0.7);
  border-radius: 100%;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-content {
  position: absolute;
  right: 50%;
  top: 13%;
  transform: translate(50%, 0);
  z-index: 2;
  width: 100%;
  max-width: 310px;
  text-align: center;
  font-size: 12px;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-content > .timeline-year {
  display: block;
  transform: translate3d(20px, 0, 0);
  margin-bottom: 50px;
  color: #d4a024;
  font-size: 42px;
  font-style: italic;
  font-weight: 300;
  opacity: 0;
  transition: 0.2s ease 0.4s;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-content > .timeline-text {
  transform: translate3d(20px, 0, 0);
  line-height: 1.5;
  opacity: 0;
  transition: 0.2s ease 0.6s;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-content > .timeline-title {
  transform: translate3d(20px, 0, 0);
  width: 100%;
  margin: 0 0 30px;
  font-size: 34px;
  font-weight: 800;
  opacity: 0;
  transition: 0.2s ease 0.5s;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide-active > .swiper-slide-content > .timeline-year {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: 0.4s ease 1.6s;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide-active > .swiper-slide-content > .timeline-title {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: 0.4s ease 1.7s;
}
.swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide-active > .swiper-slide-content > .timeline-text {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: 0.4s ease 1.8s;
}
.swiper > .timeline > .swiper-container > .swiper-pagination {
  display: none;
  right: 15% !important; /* Not working */
  left: auto;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 100%;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  z-index: 1;
}
.swiper > .timeline > .swiper-container > .swiper-pagination::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.swiper > .timeline > .swiper-container > .swiper-pagination > .swiper-pagination-bullet {
  position: relative;
  width: auto;
  height: auto;
  margin: 25px 0 !important;
  background: transparent;
  color: #d4a024;
  text-align: center;
  opacity: 1;
}
.swiper > .timeline > .swiper-container > .swiper-pagination > .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -32.5px;
  transform: scale(0);
  width: 6px;
  height: 6px;
  background-color: #d4a024;
  border-radius: 100%;
  transition: 0.2s;
}
.swiper > .timeline > .swiper-container > .swiper-pagination > .swiper-pagination-bullet-active {
  color: #d4a024;
}
.swiper > .timeline > .swiper-container > .swiper-pagination > .swiper-pagination-bullet-active::before {
  transform: scale(1);
}
.swiper > .timeline > .swiper-container > .swiper-button-next, .swiper > .timeline > .swiper-container > .swiper-button-prev {
  top: 15%;
  z-index: 2;
  width: 20px;
  height: 20px;
  margin-top: 0;
  background-size: 20px 20px;
  transition: 0.2s;
}
.swiper > .timeline > .swiper-container > .swiper-button-next::after, .swiper > .timeline > .swiper-container > .swiper-button-prev::after {
  position: absolute;
  display: none;
}
.swiper > .timeline > .swiper-container > .swiper-button-prev {
  left: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}
.swiper > .timeline > .swiper-container > .swiper-button-prev:hover {
  transform: translateX(-3px);
}
.swiper > .timeline > .swiper-container > .swiper-button-next {
  right: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}
.swiper > .timeline > .swiper-container > .swiper-button-next:hover {
  transform: translateX(3px);
}

/* [768px -> 830] */
@media only screen and (min-width: 768px) {
  .swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide::after {
    right: -30%;
    bottom: -8%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 50vw rgba(47, 53, 66, 0.7);
  }
  .swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-content {
    right: 35%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 11px;
    text-align: right;
  }
  .swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-content > .timeline-year {
    margin-bottom: 0;
    font-size: 32px;
  }
  .swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-content > .timeline-title {
    margin: 0;
    font-size: 46px;
  }
  .swiper > .timeline > .swiper-container > .swiper-pagination {
    display: flex;
  }
  .swiper > .timeline > .swiper-container > .swiper-button-prev {
    top: 15%;
    left: auto;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
  }
  .swiper > .timeline > .swiper-container > .swiper-button-prev:hover {
    transform: rotate(90deg) translate(-3px, 10px);
  }
  .swiper > .timeline > .swiper-container > .swiper-button-next {
    top: auto;
    bottom: 15%;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
  }
  .swiper > .timeline > .swiper-container > .swiper-button-next:hover {
    transform: rotate(90deg) translate(3px, 10px);
  }
}
/* [1024 -> infinite] */
@media only screen and (min-width: 1024px) {
  .swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide::after {
    right: -20%;
    bottom: -12%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 39vw rgba(47, 53, 66, 0.7);
  }
  .swiper > .timeline > .swiper-container > .swiper-wrapper > .swiper-slide > .swiper-slide-content {
    right: 35%;
    max-width: 400px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.card > .icn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.title {
  width: 100%;
  margin-bottom: 40px;
  color: var(--color-font);
  text-align: center;
  font-size: 1.5rem;
}
.title-primary:after {
  content: "";
  display: block;
  width: 90px;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: solid 4px var(--color-font);
}
.title-secondary:after {
  content: "";
  display: block;
  width: 130px;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: solid 2px var(--color-font);
}
.title-project {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
}
.title-project:after {
  content: "";
  display: block;
  width: 130px;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: solid 2px var(--color-font);
}

.tag {
  padding: 5px 25px;
  border-radius: 12px;
  font-size: 0.7rem;
}
.tag-end-project {
  background: #1D9D1B;
  color: #fff;
  font-weight: bold;
}

/* Mobile devices [320px -> 479px] */
#home {
  color: var(--color-font);
}
#home > .presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
#home > .presentation:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-top: solid 4px #0984e3;
  border-left: solid 4px #0984e3;
}
#home > .presentation:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-bottom: solid 4px #0984e3;
  border-right: solid 4px #0984e3;
}
#home > .presentation > .ctn-profil-picture {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 150px;
  max-height: 200px;
  padding-right: 30px;
}
#home > .presentation > .ctn-profil-description {
  width: 100%;
}
#home > .presentation > .ctn-profil-description > a {
  display: inline-flex;
  margin-top: 10px;
  font-weight: bold;
}
#home > .presentation > .ctn-profil-description .bold {
  font-size: 1.2rem;
}

/* Tablets [480px -> 767px] */
/* Laptop [768px -> 1023px] */
@media only screen and (min-width: 768px) {
  #home > .presentation {
    flex-direction: row;
  }
  #home > .presentation > .ctn-profil-description {
    padding-left: 40px;
  }
  #home > .presentation > .ctn-profil-description > p:first-child {
    margin-top: 0;
  }
}
/* Desktop [1024px -> infinite] */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#contact > #contact-details {
  position: relative;
  width: 100%;
}
#contact > #contact-details:after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  margin: 40px auto;
  background: var(--color-separator);
}
#contact > #contact-details > iframe {
  width: 100%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#contact > #contact-details > #contact-address, #contact > #contact-details > #contact-phone, #contact > #contact-details > #contact-email, #contact > #contact-details > #contact-social {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: var(--color-font);
}
#contact > #contact-details > #contact-address i, #contact > #contact-details > #contact-phone i, #contact > #contact-details > #contact-email i, #contact > #contact-details > #contact-social i {
  padding-right: 10px;
}
#contact > #contact-details > #contact-address > .adjust, #contact > #contact-details > #contact-phone > .adjust, #contact > #contact-details > #contact-email > .adjust, #contact > #contact-details > #contact-social > .adjust {
  width: 1rem;
}
#contact > #contact-details > #contact-address > p, #contact > #contact-details > #contact-phone > p, #contact > #contact-details > #contact-email > p, #contact > #contact-details > #contact-social > p {
  margin: 0;
}
#contact > #contact-details > #contact-address > a, #contact > #contact-details > #contact-phone > a, #contact > #contact-details > #contact-email > a, #contact > #contact-details > #contact-social > a {
  color: var(--color-font);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
#contact > #contact-details > #contact-address > a:hover, #contact > #contact-details > #contact-phone > a:hover, #contact > #contact-details > #contact-email > a:hover, #contact > #contact-details > #contact-social > a:hover {
  opacity: 0.4;
  transition: 0.2s;
}
#contact > #contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
#contact > #contact-form > h1 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--color-font);
  font-size: 1rem;
  font-weight: bold;
}
#contact > #contact-form > .input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 13px;
  box-sizing: border-box;
  background: var(--color-bg-input);
  border: none;
  color: var(--color-font);
  border-radius: 4px;
}
#contact > #contact-form > .input:focus {
  outline: none;
}
#contact > #contact-form > textarea {
  resize: none;
}
#contact > #contact-form > .btn-submit {
  width: max-content;
}

/* [768px -> 1023] */
@media only screen and (min-width: 640px) {
  #contact > #contact-form {
    max-width: 448px;
  }
}
/* [1024 -> infinite] */
@media only screen and (min-width: 1024px) {
  #contact {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  #contact > #contact-details {
    width: 50%;
    padding-right: 7.5%;
  }
  #contact > #contact-details:after {
    display: none;
  }
  #contact > #contact-details > iframe {
    height: 400px;
  }
  #contact > #contact-form {
    width: 50%;
    padding-left: 7.5%;
  }
}
#a-propos {
  color: var(--color-font);
}
#a-propos > #presentation, #a-propos > #language-skills, #a-propos > #software-skills, #a-propos > #certifications, #a-propos > #formation {
  margin-bottom: 60px;
  padding: 30px 20px 10px;
  background: var(--color-bg-input);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#a-propos > #presentation > h1, #a-propos > #language-skills > h1, #a-propos > #software-skills > h1, #a-propos > #certifications > h1, #a-propos > #formation > h1 {
  margin: 0 0 40px 0;
  text-align: center;
}
#a-propos > #presentation > h1:after, #a-propos > #language-skills > h1:after, #a-propos > #software-skills > h1:after, #a-propos > #certifications > h1:after, #a-propos > #formation > h1:after {
  content: "";
  display: block;
  width: 70px;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: solid 4px var(--color-font);
}
#a-propos > #presentation > p, #a-propos > #language-skills > p, #a-propos > #software-skills > p, #a-propos > #certifications > p, #a-propos > #formation > p {
  text-align: justify;
  text-justify: auto;
}
#a-propos > #presentation > ul, #a-propos > #language-skills > ul, #a-propos > #software-skills > ul, #a-propos > #certifications > ul, #a-propos > #formation > ul {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}
#a-propos > #presentation > ul:hover > .hit-box, #a-propos > #language-skills > ul:hover > .hit-box, #a-propos > #software-skills > ul:hover > .hit-box, #a-propos > #certifications > ul:hover > .hit-box, #a-propos > #formation > ul:hover > .hit-box {
  opacity: 0.35;
  transition: 0.4s;
}
#a-propos > #presentation > ul > .hit-box, #a-propos > #language-skills > ul > .hit-box, #a-propos > #software-skills > ul > .hit-box, #a-propos > #certifications > ul > .hit-box, #a-propos > #formation > ul > .hit-box {
  list-style: none;
  transition: 0.4s;
}
#a-propos > #presentation > ul > .hit-box:hover, #a-propos > #language-skills > ul > .hit-box:hover, #a-propos > #software-skills > ul > .hit-box:hover, #a-propos > #certifications > ul > .hit-box:hover, #a-propos > #formation > ul > .hit-box:hover {
  scale: 1.1;
  opacity: 1;
  transition: 0.4s;
}
#a-propos > #presentation > ul > .hit-box > .skill, #a-propos > #language-skills > ul > .hit-box > .skill, #a-propos > #software-skills > ul > .hit-box > .skill, #a-propos > #certifications > ul > .hit-box > .skill, #a-propos > #formation > ul > .hit-box > .skill {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 10px 10px;
  box-sizing: border-box;
  background: var(--color-tertiary);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#a-propos > #presentation > ul > .hit-box > .skill:before, #a-propos > #language-skills > ul > .hit-box > .skill:before, #a-propos > #software-skills > ul > .hit-box > .skill:before, #a-propos > #certifications > ul > .hit-box > .skill:before, #a-propos > #formation > ul > .hit-box > .skill:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient-metal-effect);
}
#a-propos > #presentation > ul > .hit-box > .skill > .icn-ctn, #a-propos > #language-skills > ul > .hit-box > .skill > .icn-ctn, #a-propos > #software-skills > ul > .hit-box > .skill > .icn-ctn, #a-propos > #certifications > ul > .hit-box > .skill > .icn-ctn, #a-propos > #formation > ul > .hit-box > .skill > .icn-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}
#a-propos > #presentation > ul > .hit-box > .skill > .icn-ctn > img, #a-propos > #language-skills > ul > .hit-box > .skill > .icn-ctn > img, #a-propos > #software-skills > ul > .hit-box > .skill > .icn-ctn > img, #a-propos > #certifications > ul > .hit-box > .skill > .icn-ctn > img, #a-propos > #formation > ul > .hit-box > .skill > .icn-ctn > img {
  position: relative;
  width: auto;
  max-width: 80px;
  height: 30px;
  margin-top: -2px;
}
#a-propos > #presentation > ul > .hit-box > .skill > .bar, #a-propos > #language-skills > ul > .hit-box > .skill > .bar, #a-propos > #software-skills > ul > .hit-box > .skill > .bar, #a-propos > #certifications > ul > .hit-box > .skill > .bar, #a-propos > #formation > ul > .hit-box > .skill > .bar {
  position: relative;
  overflow: hidden;
  width: calc(100% - 130px);
  height: 20px;
  margin: 0 10px;
  background: #2f3542;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #2f3542;
}
#a-propos > #presentation > ul > .hit-box > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box > .skill > .bar > .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #2f3542;
  animation: progress-bar 3s ease-in-out forwards;
}
#a-propos > #presentation > ul > .hit-box > .skill > .bar > .progress:after, #a-propos > #language-skills > ul > .hit-box > .skill > .bar > .progress:after, #a-propos > #software-skills > ul > .hit-box > .skill > .bar > .progress:after, #a-propos > #certifications > ul > .hit-box > .skill > .bar > .progress:after, #a-propos > #formation > ul > .hit-box > .skill > .bar > .progress:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: 1rem 1rem;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  animation: slide 1.5s linear infinite;
  will-change: background-position;
}
#a-propos > #presentation > ul > .hit-box > .skill > .value, #a-propos > #language-skills > ul > .hit-box > .skill > .value, #a-propos > #software-skills > ul > .hit-box > .skill > .value, #a-propos > #certifications > ul > .hit-box > .skill > .value, #a-propos > #formation > ul > .hit-box > .skill > .value {
  position: relative;
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
#a-propos > #presentation > ul > .hit-box:nth-child(1) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(1) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(1) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(1) > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box:nth-child(1) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #81ecec, #00cec9);
}
#a-propos > #presentation > ul > .hit-box:nth-child(2) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(2) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(2) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(2) > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box:nth-child(2) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #ffeaa7, #fdcb6e);
}
#a-propos > #presentation > ul > .hit-box:nth-child(3) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(3) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(3) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(3) > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box:nth-child(3) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #a29bfe, #6c5ce7);
}
#a-propos > #presentation > ul > .hit-box:nth-child(4) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(4) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(4) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(4) > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box:nth-child(4) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #fab1a0, #e17055);
}
#a-propos > #presentation > ul > .hit-box:nth-child(5) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(5) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(5) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(5) > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box:nth-child(5) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #fd79a8, #e84393);
}
#a-propos > #presentation > ul > .hit-box:nth-child(6) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(6) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(6) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(6) > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box:nth-child(6) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #74b9ff, #0984e3);
}
#a-propos > #presentation > ul > .hit-box:nth-child(7) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(7) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(7) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(7) > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box:nth-child(7) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #ff7675, #d63031);
}
#a-propos > #presentation > ul > .hit-box:nth-child(8) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(8) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(8) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(8) > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box:nth-child(8) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #55efc4, #00b894);
}
#a-propos > #presentation > ul > .hit-box:nth-child(9) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(9) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(9) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(9) > .skill > .bar > .progress, #a-propos > #formation > ul > .hit-box:nth-child(9) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #b8e994, #78e08f);
}
#a-propos > #software-skills > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#a-propos > #software-skills > ul > .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 45%;
  max-width: 150px;
  margin: 10px;
  padding: 10px 0;
  border-radius: 12px;
  transition: 0.3s;
}
#a-propos > #software-skills > ul > .skill:hover {
  background: var(--color-primary);
  scale: 1.1;
}
#a-propos > #software-skills > ul > .skill > .skill-icn {
  width: 70%;
  height: auto;
  margin: auto;
}
#a-propos > #software-skills > ul > .skill > .skill-label {
  margin-top: 15px;
  text-align: center;
}
#a-propos > #certifications > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#a-propos > #certifications > ul > .flip-card {
  width: 100%;
  max-width: 250px;
  height: 300px;
  margin: 20px 10px;
  background-color: transparent;
  list-style: none;
  perspective: 1000px;
}
#a-propos > #certifications > ul > .flip-card:hover > .flip-card-inner {
  transform: rotateY(180deg);
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: solid 5px var(--color-primary);
  text-align: center;
  transition: transform 0.8s;
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-front, #a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-front {
  background: var(--color-secondary);
  color: black;
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-front > .fix-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 185px;
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-front > .fix-position > img {
  width: 60%;
  max-width: 150px;
  height: auto;
  max-height: 150px;
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-front > h1 {
  height: 85px;
  margin: 0;
  color: var(--color-font);
  font-size: 1.2rem;
  font-weight: bold;
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-back {
  transform: rotateY(180deg);
  background: var(--color-secondary);
  color: white;
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-back > .fix-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 185px;
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-back > .fix-position > span {
  color: var(--color-font);
}
#a-propos > #certifications > ul > .flip-card > .flip-card-inner > .flip-card-back > a {
  height: 85px;
}
#a-propos > #formation > .swiper {
  border-radius: 7px;
}

#entreprise {
  color: var(--color-font);
}
#entreprise hr {
  border: solid 1.5px;
  border-radius: 50px;
}
#entreprise .paragraph-section {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
#entreprise .paragraph-section > i {
  padding-right: 20px;
}
#entreprise > #bsa-head-office > .bsa-services p {
  text-align: center;
}
#entreprise > #bsa-head-office > .bsa-services ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
#entreprise > #bsa-head-office > .bsa-services ul > .outer-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33%;
  min-width: 150px;
  margin: 10px 0;
  box-sizing: border-box;
}
#entreprise > #bsa-head-office > .bsa-services ul > .outer-card > .card {
  width: 150px;
  border-radius: 10px;
  transition: 0.3s;
}
#entreprise > #bsa-head-office > .bsa-services ul > .outer-card > .card:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

/* Mobile devices [320px -> 479px] */
#realisations_professionnelles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#realisations_professionnelles > .filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-bottom: 30px;
  padding: 5px;
  background: var(--color-secondary);
  border-radius: 10px;
}
#realisations_professionnelles > .filter-container > .filter {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
#realisations_professionnelles > .filter-container > .filter > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
#realisations_professionnelles > .filter-container > .filter > li > svg {
  height: 1.4rem;
}
#realisations_professionnelles > .filter-container > .filter > li > svg:hover {
  cursor: pointer;
}
#realisations_professionnelles > .filter-container > .filter > li > span {
  padding: 3px 5px;
  margin: 0 2px;
  color: var(--color-font);
  border-radius: 5px;
  border: solid 2px #2f3542;
  font-size: 0.8rem;
}
#realisations_professionnelles > .filter-container > .filter > li > span:hover {
  cursor: pointer;
}
#realisations_professionnelles > .filter-container > .filter > .separated:after {
  content: "";
  display: block;
  height: 0.8rem;
  padding: 6px 0;
  margin: 0 5px;
  border-right: solid 2px #2f3542;
}
#realisations_professionnelles > .filter-container > .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 8px;
  margin-left: 10px;
  background: var(--color-primary);
  border-radius: 10px;
}
#realisations_professionnelles > .filter-container > .search-bar > input {
  width: 250px;
  height: 1.2rem;
  background: none;
  border: none;
  color: var(--color-font);
}
#realisations_professionnelles > .filter-container > .search-bar > input:focus {
  outline: none;
}
#realisations_professionnelles > .filter-container > .search-bar > i {
  color: var(--color-secondary);
  font-size: 0.8rem;
}
#realisations_professionnelles > .project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#realisations_professionnelles > .project-list > .card-offset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33%;
  min-width: 200px;
}
#realisations_professionnelles > .project-list > .card-offset > .card {
  position: relative;
  transition: 0.3s;
}
#realisations_professionnelles > .project-list > .card-offset > .card:hover {
  transition: 0.3s;
}
#realisations_professionnelles > .project-list > .card-offset > .card:hover > .opacity-card {
  position: absolute;
  display: block;
  width: 200px;
  height: 300px;
  background: #2f3542;
  opacity: 0.6;
  transition: 0.3s;
}
#realisations_professionnelles > .project-list > .card-offset > .card:hover > .logo-card {
  top: 30%;
  transform: translateY(-70%);
  transition: 0.3s;
}
#realisations_professionnelles > .project-list > .card-offset > .card:hover > .description-card {
  opacity: 1;
  animation: appear 0.6s ease-in-out;
}
#realisations_professionnelles > .project-list > .card-offset > .card > .bg-card {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
#realisations_professionnelles > .project-list > .card-offset > .card > .opacity-card {
  transition: 0.3s;
}
#realisations_professionnelles > .project-list > .card-offset > .card > .logo-card {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  max-width: 180px;
  max-height: 60px;
  transition: 0.3s;
}
#realisations_professionnelles > .project-list > .card-offset > .card > .description-card {
  position: absolute;
  top: 40%;
  border-top: solid 2px #fff;
  text-align: center;
  opacity: 0;
}
#realisations_professionnelles > .project-list > .card-offset > .card > .description-card > h1 {
  display: block;
  width: 160px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
#realisations_professionnelles > .project-list > .card-offset > .card > .description-card > p {
  display: block;
  width: 160px;
  color: #fff;
  font-size: 0.7rem;
}

/* Tablets [480px -> 767px] */
@media only screen and (min-width: 480px) {
  #realisations_professionnelles > .project-list {
    justify-content: space-between;
  }
}
/* Laptop [768px -> 1023px] */
/* Desktop [1024px -> infinite] */
/* Mobile devices [320px -> 479px] */
.project > .content-section > .nav-project {
  display: none;
}
.project > .content-section > .project_navigation > .title {
  margin-top: 0;
}
.project > .content-section > .project_navigation > nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border: 2px solid var(--color-font);
  border-radius: 15px;
}
.project > .content-section > .project_navigation > nav > label {
  width: 100%;
  padding: 7px 0;
  background: var(--color-primary);
  color: var(--color-font);
  border-bottom: 2px solid var(--color-font);
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.project > .content-section > .project_navigation > nav > label:last-child {
  border: none;
}
.project > .content-section > .project_navigation > nav > label:hover {
  background: var(--color-secondary);
  transition: 0.3s;
}
.project > .content-section > #project-home {
  display: none;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid var(--color-font);
}
.project > .content-section > #project-home > h1 > img {
  transform: translateY(7px);
}
.project > .content-section > #project-home > .showcase {
  width: 100%;
  height: auto;
}
.project > .content-section > #project-home > .specifications {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid var(--color-font);
  border-radius: 15px;
}
.project > .content-section > #project-home > .specifications > .title {
  margin-top: 10px;
}
.project > .content-section > #project-home > .specifications > .tag {
  margin: 10px 10px 0 10px;
}
.project > .content-section > #project-home > .specifications > .specifications-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.project > .content-section > #project-home > .specifications > .specifications-list > .specification {
  overflow: hidden;
  width: 75%;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: var(--color-primary);
  border: 2px solid var(--color-font);
  border-radius: 15px;
}
.project > .content-section > #project-home > .specifications > .specifications-list > .specification > p {
  color: var(--color-font);
  text-align: center;
}
.project > .content-section > #project-home > .realisations {
  margin-top: 20px;
  border: 2px solid var(--color-font);
  border-radius: 15px;
}
.project > .content-section > #project-home > .realisations > .realisations-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.project > .content-section > #project-home > .realisations > .realisations-list > .realisation {
  overflow: hidden;
  width: 75%;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: var(--color-primary);
  border: 2px solid var(--color-font);
  border-radius: 15px;
}
.project > .content-section > #project-home > .realisations > .realisations-list > .realisation > p {
  color: var(--color-font);
  text-align: center;
}

/* Tablets [480px -> 767px] */
/* Laptop [768px -> 1023px] */
@media only screen and (min-width: 768px) {
  .project > .content-section > .project_navigation > nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .project > .content-section > .project_navigation > nav > label {
    border-bottom: none;
    border-right: 2px solid var(--color-font);
  }
}
/* Desktop [1024px -> infinite] */
@media only screen and (min-width: 1024px) {
  .project > .content-section > #project-home > .specifications > .title {
    margin-top: 10px;
  }
  .project > .content-section > #project-home > .specifications > .tag {
    position: absolute;
    left: 0;
  }
  .project > .content-section > #project-home > .specifications > .specifications-list {
    justify-content: space-around;
  }
  .project > .content-section > #project-home > .specifications > .specifications-list > .specification {
    overflow: hidden;
    width: 44%;
    background: var(--color-primary);
    border: 2px solid var(--color-font);
    border-radius: 15px;
  }
  .project > .content-section > #project-home > .specifications > .specifications-list > .documents > .documents-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .project > .content-section > #project-home > .specifications > .specifications-list > .documents > .documents-list > .file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project > .content-section > #project-home > .realisations > .realisations-list {
    justify-content: space-around;
  }
  .project > .content-section > #project-home > .realisations > .realisations-list > .realisation {
    overflow: hidden;
    width: 44%;
    background: var(--color-primary);
    border: 2px solid var(--color-font);
    border-radius: 15px;
  }
}
#nav-project-home:checked ~ #project-home,
#nav-project-manage:checked ~ #project-manage,
#nav-project-display:checked ~ #project-display {
  display: block;
}

#nav-project-home:checked ~ .project_navigation #nav-label-project-home,
#nav-project-manage:checked ~ .project_navigation #nav-label-project-manage,
#nav-project-display:checked ~ .project_navigation #nav-label-project-display {
  background: var(--color-secondary);
}

/*# sourceMappingURL=style.css.map */
