@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
.dark-theme {
  --color-primary:	#2f3542;
  --color-secondary:	#57606f;
  --color-tertiary:	#747d8c;
  --color-highlight-theme-border:	#fdcb6e;
  --color-no-highlight-theme-border:	#747d8c;
  --color-highlight-theme-picto:	#fdcb6e;
  --color-bg-input:	#57606f;
  --color-border:	#57606f;
  --color-separator:	#747d8c;
  --color-font:	#fff;
  --gradient-metal-effect:	linear-gradient(0deg, #747d8c 50%, rgba(255, 255, 255, .1) 50%);
}

.light-theme {
  --color-primary:	#fff;
  --color-secondary:	#fff;
  --color-tertiary:	#fff;
  --color-highlight-theme-border:	#74b9ff;
  --color-no-highlight-theme-border:	#747d8c80;
  --color-highlight-theme-picto:	#74b9ff;
  --color-bg-input:	#747d8c40;
  --color-border:	#747d8c;
  --color-separator:	#2f3542;
  --color-font:	#57606f;
  --gradient-metal-effect:	linear-gradient(0deg, rgba(0, 0, 0, .1) 50%, #fff 50%);
}

.blue {
  color: #0984e3;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #57606f;
  }
}
/* The progress bar effect */
@keyframes progress-bar {
  from {
    width: 0;
  }
}
/* The infinite slide effect */
@keyframes slide {
  from {
    background-position-x: 2rem;
  }
  to {
    background-position-x: 0;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-width: 305px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: var(--color-primary);
}

.main-content {
  padding: 20px 20px 0 20px;
  font-family: "Montserrat", sans-serif;
}

.bold {
  font-weight: bold;
}

/* [768px -> 1023] */
@media only screen and (min-width: 640px) {
  .main-content {
    flex: 1;
    padding: 20px 15% 0 15%;
  }
}
.menu {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.menu > #trigger-menu {
  position: absolute;
  display: none;
}
.menu > #trigger-menu:checked ~ ul {
  height: 342px;
  border-bottom: solid 3px var(--color-tertiary);
  transition: 0.3s;
}
.menu > .name-menu {
  position: absolute;
  display: none;
}
.menu > ul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 0;
  margin: 0;
  padding: 0 0 0 40px;
  box-sizing: border-box;
  background: var(--color-primary);
  border-bottom: solid 0 var(--color-tertiary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  list-style: none;
  transition: 0.3s;
}
.menu > ul > .parent-menu-ctn:first-child {
  padding-top: 10px;
}
.menu > ul .link-menu {
  display: block;
  width: fit-content;
  margin: 0;
  padding: 10px 0;
  color: var(--color-font);
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.menu > ul .link-menu:after {
  content: "";
  display: block;
  width: 0;
  margin: auto;
  border-bottom: solid 2px #0984e3;
  transition: 0.3s;
}
.menu > ul .link-menu:hover {
  color: #0984e3;
}
.menu > ul .link-menu:hover:after {
  width: 100%;
  transition: 0.3s;
}
.menu > ul .sub-menu-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  padding-left: 20px;
  border-left: solid 2px var(--color-font);
}
.menu > ul > .close-menu-cta {
  position: absolute;
  top: 0;
  left: calc(100vw - 40px);
  z-index: 2;
}
.menu > ul > .close-menu-cta > #close-menu {
  margin-top: 20px;
  color: var(--color-font);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.menu > ul > .close-menu-cta > #close-menu:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.header #ctn-header-cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header #ctn-header-cta > .fa-solid {
  margin: 10px;
  padding: 10px;
  background: var(--color-primary);
  color: var(--color-font);
  border: solid 1.5px var(--color-no-highlight-theme-border);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.header #ctn-header-cta > .fa-solid:hover {
  color: var(--color-highlight-theme-picto);
  border: solid 1.5px var(--color-highlight-theme-border);
  transition: 0.3s;
}

.dark-theme .switch-theme-moon {
  position: absolute;
  display: none;
}

.light-theme .switch-theme-sun {
  position: absolute;
  display: none;
}

/* [640px -> 767] */
/* [768px -> 830] */
/* [830 -> 1023] */
/* [1024 -> infinite] */
@media only screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
    background: var(--color-secondary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .menu > .name-menu {
    position: relative;
    display: block;
    min-width: 160px;
    color: var(--color-font);
    font-size: 1.2rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
  .menu > ul {
    position: relative;
    overflow: inherit;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: fit-content !important;
    padding: 0;
    background: none;
    border-bottom: none;
    box-shadow: none;
  }
  .menu > ul .parent-menu-ctn {
    position: relative;
  }
  .menu > ul .parent-menu-ctn:first-child {
    padding-top: 0;
  }
  .menu > ul > .parent-menu-ctn > .link-menu, .menu > ul > .link-menu {
    width: max-content;
    margin: 0 10px;
    padding: 20px 10px;
    text-align: center;
  }
  .menu > ul .sub-menu-ctn {
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    display: none;
    padding: 0;
    background: var(--color-secondary);
    border: solid 1px var(--color-font);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .menu > ul .sub-menu-ctn > .link-menu {
    padding: 10px 20px;
    font-size: 1rem;
  }
  .menu > ul .sub-menu-ctn:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-top: -9px;
    margin-left: 35px;
    transform: rotate(45deg);
    background: var(--color-secondary);
    border-top: solid 1px var(--color-font);
    border-left: solid 1px var(--color-font);
  }
  .menu > ul .accueil-menu:hover ~ .sub-accueil, .menu > ul .sub-accueil:hover {
    display: flex;
    flex-direction: column;
  }
  .menu > ul > .close-menu-cta:last-child {
    position: absolute;
    display: none;
  }
  .header {
    position: sticky;
    top: 69px;
    right: 0;
    background: none;
    box-shadow: none;
  }
  .header > #ctn-header-cta {
    position: relative;
  }
  .header > #ctn-header-cta > #open-menu {
    position: absolute;
    display: none;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  background: var(--color-secondary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.footer > #social-ctn {
  margin-bottom: 15px;
}
.footer > #social-ctn > a {
  margin: 0 10px;
}
.footer > #social-ctn > a:hover > i {
  opacity: 0.4;
  transition: 0.3s;
}
.footer > #social-ctn > a > i {
  width: auto;
  height: 1.5rem;
  color: var(--color-font);
  font-size: 1.5rem;
  transition: 0.3s;
}
.footer > span {
  display: block;
  width: 100%;
  color: var(--color-font);
  text-align: center;
  text-transform: uppercase;
}

.btn {
  padding: 10px 20px;
  background: #0984e3;
  color: #fff;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background: #74b9ff;
  transition: 0.3s;
}
.btn-submit {
  padding: 10px 20px;
  background: var(--color-font);
  color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
  border-radius: 4px;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
.btn-submit:hover {
  opacity: 1;
  transition: 0.3s;
}

.typewriter {
  overflow: hidden;
  border-right: 4px solid #0984e3;
  white-space: nowrap;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

.ctn-typewriter {
  width: fit-content;
}

#home {
  color: var(--color-font);
}
#home > .presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home > .presentation > .ctn-profil-picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 150px;
  max-height: 200px;
  padding: 30px;
}
#home > .presentation > .ctn-profil-picture:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-top: solid 4px #0984e3;
  border-left: solid 4px #0984e3;
}
#home > .presentation > .ctn-profil-picture:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-bottom: solid 4px #0984e3;
  border-right: solid 4px #0984e3;
}
#home > .presentation > .ctn-profil-description {
  width: 100%;
}
#home > .presentation > .ctn-profil-description > a {
  display: inline-flex;
  margin-top: 20px;
  font-weight: bold;
}
#home > .presentation > .ctn-profil-description .bold {
  font-size: 1.2rem;
}

/* [768px -> 1023] */
@media only screen and (min-width: 640px) {
  #home > .presentation {
    flex-direction: row;
  }
  #home > .presentation > .ctn-profil-description {
    padding-left: 40px;
  }
  #home > .presentation > .ctn-profil-description > p:first-child {
    margin-top: 0;
  }
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#contact > #contact-details {
  position: relative;
  width: 100%;
}
#contact > #contact-details:after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  margin: 40px auto;
  background: var(--color-separator);
}
#contact > #contact-details > iframe {
  width: 100%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#contact > #contact-details > #contact-address, #contact > #contact-details > #contact-phone, #contact > #contact-details > #contact-email, #contact > #contact-details > #contact-social {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: var(--color-font);
}
#contact > #contact-details > #contact-address i, #contact > #contact-details > #contact-phone i, #contact > #contact-details > #contact-email i, #contact > #contact-details > #contact-social i {
  padding-right: 10px;
}
#contact > #contact-details > #contact-address > .adjust, #contact > #contact-details > #contact-phone > .adjust, #contact > #contact-details > #contact-email > .adjust, #contact > #contact-details > #contact-social > .adjust {
  width: 1rem;
}
#contact > #contact-details > #contact-address > p, #contact > #contact-details > #contact-phone > p, #contact > #contact-details > #contact-email > p, #contact > #contact-details > #contact-social > p {
  margin: 0;
}
#contact > #contact-details > #contact-address > a, #contact > #contact-details > #contact-phone > a, #contact > #contact-details > #contact-email > a, #contact > #contact-details > #contact-social > a {
  color: var(--color-font);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
#contact > #contact-details > #contact-address > a:hover, #contact > #contact-details > #contact-phone > a:hover, #contact > #contact-details > #contact-email > a:hover, #contact > #contact-details > #contact-social > a:hover {
  opacity: 0.4;
  transition: 0.2s;
}
#contact > #contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
#contact > #contact-form > h1 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--color-font);
  font-size: 1rem;
  font-weight: bold;
}
#contact > #contact-form > .input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 13px;
  box-sizing: border-box;
  background: var(--color-bg-input);
  border: none;
  color: var(--color-font);
  border-radius: 4px;
}
#contact > #contact-form > .input:focus {
  outline: none;
}
#contact > #contact-form > textarea {
  resize: none;
}
#contact > #contact-form > .btn-submit {
  width: max-content;
}

/* [768px -> 1023] */
@media only screen and (min-width: 640px) {
  #contact > #contact-form {
    max-width: 448px;
  }
}
/* [1024 -> infinite] */
@media only screen and (min-width: 1024px) {
  #contact {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  #contact > #contact-details {
    width: 50%;
    padding-right: 7.5%;
  }
  #contact > #contact-details:after {
    display: none;
  }
  #contact > #contact-details > iframe {
    height: 400px;
  }
  #contact > #contact-form {
    width: 50%;
    padding-left: 7.5%;
  }
}
#a-propos {
  color: var(--color-font);
}
#a-propos > #presentation, #a-propos > #language-skills, #a-propos > #software-skills, #a-propos > #certifications {
  margin-bottom: 60px;
  padding: 30px 20px 10px;
  background: var(--color-bg-input);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#a-propos > #presentation > h1, #a-propos > #language-skills > h1, #a-propos > #software-skills > h1, #a-propos > #certifications > h1 {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}
#a-propos > #presentation > h1:after, #a-propos > #language-skills > h1:after, #a-propos > #software-skills > h1:after, #a-propos > #certifications > h1:after {
  content: "";
  display: block;
  width: 70px;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: solid 4px var(--color-font);
}
#a-propos > #presentation > p, #a-propos > #language-skills > p, #a-propos > #software-skills > p, #a-propos > #certifications > p {
  text-align: justify;
  text-justify: auto;
}
#a-propos > #presentation > ul, #a-propos > #language-skills > ul, #a-propos > #software-skills > ul, #a-propos > #certifications > ul {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}
#a-propos > #presentation > ul:hover > .hit-box, #a-propos > #language-skills > ul:hover > .hit-box, #a-propos > #software-skills > ul:hover > .hit-box, #a-propos > #certifications > ul:hover > .hit-box {
  opacity: 0.35;
  transition: 0.4s;
}
#a-propos > #presentation > ul > .hit-box, #a-propos > #language-skills > ul > .hit-box, #a-propos > #software-skills > ul > .hit-box, #a-propos > #certifications > ul > .hit-box {
  list-style: none;
  transition: 0.4s;
}
#a-propos > #presentation > ul > .hit-box:hover, #a-propos > #language-skills > ul > .hit-box:hover, #a-propos > #software-skills > ul > .hit-box:hover, #a-propos > #certifications > ul > .hit-box:hover {
  scale: 1.1;
  opacity: 1;
  transition: 0.4s;
}
#a-propos > #presentation > ul > .hit-box > .skill, #a-propos > #language-skills > ul > .hit-box > .skill, #a-propos > #software-skills > ul > .hit-box > .skill, #a-propos > #certifications > ul > .hit-box > .skill {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 10px 10px;
  box-sizing: border-box;
  background: var(--color-tertiary);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#a-propos > #presentation > ul > .hit-box > .skill:before, #a-propos > #language-skills > ul > .hit-box > .skill:before, #a-propos > #software-skills > ul > .hit-box > .skill:before, #a-propos > #certifications > ul > .hit-box > .skill:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient-metal-effect);
}
#a-propos > #presentation > ul > .hit-box > .skill > .icn-ctn, #a-propos > #language-skills > ul > .hit-box > .skill > .icn-ctn, #a-propos > #software-skills > ul > .hit-box > .skill > .icn-ctn, #a-propos > #certifications > ul > .hit-box > .skill > .icn-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}
#a-propos > #presentation > ul > .hit-box > .skill > .icn-ctn > img, #a-propos > #language-skills > ul > .hit-box > .skill > .icn-ctn > img, #a-propos > #software-skills > ul > .hit-box > .skill > .icn-ctn > img, #a-propos > #certifications > ul > .hit-box > .skill > .icn-ctn > img {
  position: relative;
  width: auto;
  max-width: 80px;
  height: 30px;
  margin-top: -2px;
}
#a-propos > #presentation > ul > .hit-box > .skill > .bar, #a-propos > #language-skills > ul > .hit-box > .skill > .bar, #a-propos > #software-skills > ul > .hit-box > .skill > .bar, #a-propos > #certifications > ul > .hit-box > .skill > .bar {
  position: relative;
  overflow: hidden;
  width: calc(100% - 130px);
  height: 20px;
  margin: 0 10px;
  background: #2f3542;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #2f3542;
}
#a-propos > #presentation > ul > .hit-box > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box > .skill > .bar > .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #2f3542;
  animation: progress-bar 3s ease-in-out forwards;
}
#a-propos > #presentation > ul > .hit-box > .skill > .bar > .progress:after, #a-propos > #language-skills > ul > .hit-box > .skill > .bar > .progress:after, #a-propos > #software-skills > ul > .hit-box > .skill > .bar > .progress:after, #a-propos > #certifications > ul > .hit-box > .skill > .bar > .progress:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: 1rem 1rem;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  animation: slide 1.5s linear infinite;
  will-change: background-position;
}
#a-propos > #presentation > ul > .hit-box > .skill > .value, #a-propos > #language-skills > ul > .hit-box > .skill > .value, #a-propos > #software-skills > ul > .hit-box > .skill > .value, #a-propos > #certifications > ul > .hit-box > .skill > .value {
  position: relative;
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
#a-propos > #presentation > ul > .hit-box:nth-child(1) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(1) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(1) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(1) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #81ecec, #00cec9);
}
#a-propos > #presentation > ul > .hit-box:nth-child(2) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(2) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(2) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(2) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #ffeaa7, #fdcb6e);
}
#a-propos > #presentation > ul > .hit-box:nth-child(3) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(3) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(3) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(3) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #a29bfe, #6c5ce7);
}
#a-propos > #presentation > ul > .hit-box:nth-child(4) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(4) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(4) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(4) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #fab1a0, #e17055);
}
#a-propos > #presentation > ul > .hit-box:nth-child(5) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(5) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(5) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(5) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #fd79a8, #e84393);
}
#a-propos > #presentation > ul > .hit-box:nth-child(6) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(6) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(6) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(6) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #74b9ff, #0984e3);
}
#a-propos > #presentation > ul > .hit-box:nth-child(7) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(7) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(7) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(7) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #ff7675, #d63031);
}
#a-propos > #presentation > ul > .hit-box:nth-child(8) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(8) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(8) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(8) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #55efc4, #00b894);
}
#a-propos > #presentation > ul > .hit-box:nth-child(9) > .skill > .bar > .progress, #a-propos > #language-skills > ul > .hit-box:nth-child(9) > .skill > .bar > .progress, #a-propos > #software-skills > ul > .hit-box:nth-child(9) > .skill > .bar > .progress, #a-propos > #certifications > ul > .hit-box:nth-child(9) > .skill > .bar > .progress {
  background: linear-gradient(45deg, #b8e994, #78e08f);
}
#a-propos > #software-skills > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#a-propos > #software-skills > ul > .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 45%;
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 12px;
  transition: 0.3s;
}
#a-propos > #software-skills > ul > .skill:hover {
  background: #2f3542;
  scale: 1.2;
}
#a-propos > #software-skills > ul > .skill > .skill-icn {
  width: 70%;
  height: auto;
  margin: auto;
}
#a-propos > #software-skills > ul > .skill > .skill-label {
  margin-top: 15px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
