/* The typing effect */
@keyframes typing
{
	from
	{
		width: 0
	}

	to
	{
		width: 100%
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret
{
	from, to
	{
		border-color: transparent
	}

	50%
	{
		border-color: #57606f;
	}
}
/* The progress bar effect */
@keyframes progress-bar
{
	from
	{
		width: 0;
	}
}

/* The infinite slide effect */
@keyframes slide {
	from {
		background-position-x: 2rem;
	}
	to {
		background-position-x: 0;
	}
}