$white:         #fff;
$black:         #2f3542;
$grey:          #747d8c;
$blue:			#0984e3;

$light-black:   #57606f;
$light-blue:   #74b9ff;

$dark-saphire:  #0c2461;

.blue
{
	color: $blue;
}