$white:         #fff;
$black:         #2f3542;
$grey:          #747d8c;
$green:			#1D9D1B;
$blue:			#0984e3;
$orange:		#d4a024;

$light-black:   #57606f;
$light-blue:    #74b9ff;

$dark-saphire:  #0c2461;

.dark-theme
{
	--color-primary: 						#2f3542;
	--color-secondary: 						#57606f;
	--color-tertiary: 						#747d8c;

	--color-highlight-theme-border: 		#fdcb6e;
	--color-no-highlight-theme-border: 		#747d8c;
	--color-highlight-theme-picto:	 		#fdcb6e;

	--color-bg-input: 						#57606f;
	--color-border: 						#57606f;
	--color-separator: 						#747d8c;
	--color-font: 							#fff;

	--gradient-metal-effect:				linear-gradient(0deg, #747d8c 50%, rgba(255, 255, 255, .1) 50%);
}

.light-theme
{
	--color-primary: 						#fff;
	--color-secondary: 						#fff;
	--color-tertiary: 						#fff;

	--color-highlight-theme-border: 		#74b9ff;
	--color-no-highlight-theme-border: 		#747d8c80;
	--color-highlight-theme-picto:	 		#74b9ff;

	--color-bg-input: 						#dcdee2;
	--color-border: 						#747d8c;
	--color-separator: 						#2f3542;
	--color-font: 							#57606f;

	--gradient-metal-effect:				linear-gradient(0deg, rgba(0, 0, 0, .1) 50%, #fff 50%);
}

.blue
{
	color: $blue;
}