// - MEDIA SIZE CONSTANT (Be careful when making changes !) - //
$CO_BREAKPOINT_PHONE:				320px;
$CO_BREAKPOINT_TABLET:				480px;
$CO_BREAKPOINT_LAPTOP:				768px;
$CO_BREAKPOINT_DESKTOP:				1024px;

// - ALIGNMENT SETTING - //
$section-margin:					30px;
$space-between-content:				20px;
$space-between-section:				60px;
$space-between-sub-section:			30px;