@use "../Abstracts" as *;

body
{
    display: flex;
    flex-direction: column;

    min-width: 305px;
    min-height: 100vh;

    padding: 0;
    margin: 0;

    background: $black;
}

.main-content
{
    padding: 0 20px;

    font-family: $montserrat;
}

.bold
{
    font-weight: bold;
}

/* [768px -> 1023] */
@media only screen and (min-width: 640px)
{
    .main-content
    {
        flex: 1;

        padding: 0 15%;
    }
}