@use "../Abstracts" as *;

.btn
{
	padding: 10px 20px;

	background: $blue;
	color: $white;
	border: none;
	border-radius: 25px;
	text-decoration: none;

	transition: .3s;
	cursor: pointer;

	&:hover
	{
		background: $light-blue;
		transition: .3s;
	}

	&-submit
	{
		padding: 10px 20px;

		background: $light-black;
		color: $white;
		border: solid 1px $light-black;
		border-radius: 4px;
		text-decoration: none;

		transition: .3s;
		cursor: pointer;

		&:hover
		{
			background: $white;
			color: $light-black;
			transition: .3s;
		}
	}
}