@use "../Abstracts" as *;

/* Mobile devices [320px -> 479px] */
.footer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100px;
	margin-top: 50px;

	background: var(--color-secondary);
	box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
	color: $white;
	font-family: $montserrat;

	& > #social-ctn
	{
		margin-bottom: 15px;

		& > a
		{
			margin: 0 10px;

			&:hover > i
			{
				opacity: .4;

				transition: .3s;
			}

			& > i
			{
				width: auto;
				height: 1.5rem;

				color: var(--color-font);
				font-size: 1.5rem;

				transition: .3s;
			}
		}
	}

	& > span
	{
		display: block;
		width: 100%;

		color: var(--color-font);
		text-align: center;
		text-transform: uppercase;
	}
}

/* Tablets [480px -> 767px] */
@media only screen and (min-width: 480px)
{

}

/* Laptop [768px -> 1023px] */
@media only screen and (min-width: 768px)
{

}

/* Desktop [1024px -> infinite] */
@media only screen and (min-width: 1024px)
{

}