@use "../Abstracts" as *;

.menu
{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    & > #trigger-menu
    {
        position: absolute;
        display: none;

        &:checked ~ ul
        {
            height: 332px;

            border-bottom: solid 3px var(--color-tertiary);

            transition: .3s;
        }
    }

    & > .name-menu
    {
        position: absolute;
        display: none;
    }

    & > ul
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 100%;
        height: 0;
        margin: 10px 0;
        padding: 0 0 0 40px;

        background: var(--color-primary);
        border-bottom: solid 0 var(--color-tertiary);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        list-style: none;
        transition: .3s;

        & .link-menu
        {
            display: block;

            width: fit-content;
            margin: 0;
            padding: 10px 0;

            color: var(--color-font);
            font-size: 1.2rem;
            font-family: $montserrat;
            font-weight: 600;
            text-decoration: none;

            cursor: pointer;

            &:after
            {
                content: "";
                display: block;

                width: 0;
                margin: auto;

                border-bottom: solid 2px $blue;
                transition: .3s;
            }

            &:hover
            {
                color: $blue;

                &:after
                {
                    width: 100%;
                    transition: .3s;
                }
            }
        }

        & .sub-menu-ctn
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            margin-left: 10px;
            padding-left: 20px;

            border-left: solid 2px var(--color-font);
        }

        & > .close-menu-cta
        {
            position: absolute;
            top: 0;
            left: calc(100vw - 40px);
            z-index: 2;

            & > #close-menu
            {
                padding: 10px 0;

                color: var(--color-font);
                font-size: 1.5rem;

                cursor: pointer;
                transition: .3s;

                &:hover
                {
                    opacity: .7;
                    transition: .3s;
                }
            }
        }
    }
}

.header
{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    background: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    & #ctn-header-cta
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & > .fa-solid
        {
            margin: 10px;
            padding: 10px;

            background: var(--color-primary);
            color: var(--color-font);
            border: solid 1.5px var(--color-no-highlight-theme-border);
            border-radius: 100%;

            cursor: pointer;
            transition: .3s;

            &:hover
            {
                color: var(--color-highlight-theme-picto);
                border: solid 1.5px var(--color-highlight-theme-border);

                transition: .3s;
            }
        }
    }
}

.dark-theme .switch-theme-moon
{
    position: absolute;
    display: none;
}

.light-theme .switch-theme-sun
{
    position: absolute;
    display: none;
}

/* [640px -> 767] */
@media only screen and (min-width: 640px)
{

}


/* [768px -> 830] */
@media only screen and (min-width: 768px)
{

}

/* [830 -> 1023] */
@media only screen and (min-width: 830px)
{

}

/* [1024 -> infinite] */
@media only screen and (min-width: 1024px)
{
    .menu
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        padding: 0 5%;

        background: var(--color-secondary);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        & > .name-menu
        {
            position: relative;
            display: block;

            width: 170px;

            color: var(--color-font);
            font-size: 1.2rem;
            text-align: center;
            font-family: "Montserrat", sans-serif;
        }

        & > ul
        {
            position: relative;
            overflow: inherit;

            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            height: fit-content !important;
            margin: 0;
            padding: 0;

            background: none;
            border-bottom: none;
            box-shadow: none;

            & .parent-menu-ctn
            {
                position: relative;
            }

            & > .parent-menu-ctn > .link-menu,
            & > .link-menu,
            {
                width: max-content;
                margin: 0 10px;
                padding: 20px 10px;

                text-align: center;
            }

            & .sub-menu-ctn
            {
                position: absolute;
                top: calc(100% - 3px);
                left: 0;

                display: none;

                padding: 0;

                background: var(--color-secondary);
                border: solid 1px var(--color-font);
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

                & > .link-menu
                {
                    padding: 10px 20px;

                    font-size: 1rem;
                }

                &:before
                {
                    content: "";
                    display: block;

                    width: 15px;
                    height: 15px;
                    margin-top: -9px;
                    margin-left: 35px;

                    transform: rotate(45deg);

                    background: var(--color-secondary);
                    border-top: solid 1px var(--color-font);
                    border-left: solid 1px var(--color-font);
                }
            }

            & .accueil-menu:hover  ~ .sub-accueil,
            & .sub-accueil:hover
            {
                display: flex;
                flex-direction: column;
            }

            & > .close-menu-cta:last-child
            {
                position: absolute;
                display: none;
            }
        }
    }

    .header
    {
        position: sticky;
        top: 69px;
        right: 0;

        background: none;
        box-shadow: none;

        & > #ctn-header-cta
        {
            position: relative;

            & > #open-menu
            {
                position: absolute;
                display: none;
            }
        }
    }
}