@use "../Abstracts" as *;

.tag
{
	padding: 5px 25px;
	border-radius: 12px;
	font-size: .7rem;

	&-end-project
	{
		background: $green;
		color: $white;
		font-weight: bold;
	}

	&-in-progress-project
	{
		background: $yellow;
		color: $white;
		font-weight: bold;
	}
}