@use "../Abstracts" as *;

#a-propos
{
	color: var(--color-font);

	& > #presentation,
	& > #language-skills,
	& > #software-skills,
	& > #certifications,
	& > #formation
	{
		margin-bottom: 60px;
		padding: 30px 20px 10px;

		background: var(--color-bg-input);
		border-radius: 7px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

		& > h1
		{
			margin: 0 0 40px 0;

			text-align: center;

			&:after
			{
				content: "";
				display: block;

				width: 70px;
				margin: 0 auto;
				padding-bottom: 15px;

				border-bottom: solid 4px var(--color-font);
			}
		}

		& > p
		{
			text-align: justify;
			text-justify: auto;
		}

		& > ul
		{
			position: relative;

			display: flex;
			flex-direction: column;

			padding: 0;

			&:hover > .hit-box
			{
				opacity: .35;
				transition: .4s;
			}

			& > .hit-box
			{
				list-style: none;

				transition: .4s;

				&:hover
				{
					scale: 1.1;
					opacity: 1;
					transition: .4s;
				}

				& > .skill
				{
					position: relative;
					overflow: hidden;

					display: flex;
					flex-direction: row;
					align-items: center;

					width: 100%;
					margin: 20px 0;
					padding: 10px 10px;
					box-sizing: border-box;

					background: var(--color-tertiary);
					border-radius: 8px;
					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

					&:before
					{
						content: "";
						position: absolute;
						top: 0;
						left: 0;

						width: 100%;
						height: 100%;

						background: var(--gradient-metal-effect);
					}

					& > .icn-ctn
					{
						display: flex;
						justify-content: center;
						align-items: center;

						width: 80px;

						& > img
						{
							position: relative;

							width: auto;
							max-width: 80px;
							height: 30px;

							margin-top: -2px;
						}
					}

					& > .bar
					{
						position: relative;
						overflow: hidden;

						width: calc(100% - 130px);
						height: 20px;
						margin: 0 10px;

						background: $black;
						border-radius: 10px;
						box-shadow: inset 0 0 10px $black;

						& > .progress
						{
							position: absolute;
							top: 0;
							left: 0;

							width: 95%;
							height: 100%;

							border-radius: 10px;
							box-shadow: inset 0 0 2px $black;

							animation: progress-bar 3s ease-in-out forwards;

							&:after
							{
								content: "";
								position: relative;

								display: block;

								width: 100%;
								height: 100%;

								border-radius: 10px;

								background-size: 1rem 1rem;
								background-image: linear-gradient(
									45deg,
									rgba(255,255,255,.1) 25%,
									transparent 25%,
									transparent 50%,
									rgba(255,255,255,.1) 50%,
									rgba(255,255,255,.1) 75%,
									transparent 75%,
									transparent
								);

								animation: slide 1.5s linear infinite;
								will-change: background-position;
							}
						}
					}

					& > .value
					{
						position: relative;

						width: 50px;

						text-align: center;
						text-transform: uppercase;
						font-weight: bold;
					}
				}


				&:nth-child(1) > .skill> .bar > .progress
				{
					background: linear-gradient(45deg, #81ecec, #00cec9);
				}

				&:nth-child(2)  > .skill> .bar > .progress
				{
					background: linear-gradient(45deg, #ffeaa7, #fdcb6e);
				}

				&:nth-child(3)  > .skill> .bar > .progress
				{
					background: linear-gradient(45deg, #a29bfe, #6c5ce7);
				}

				&:nth-child(4)  > .skill> .bar > .progress
				{
					background: linear-gradient(45deg, #fab1a0, #e17055);
				}

				&:nth-child(5)  > .skill> .bar > .progress
				{
					background: linear-gradient(45deg, #fd79a8, #e84393);
				}

				&:nth-child(6)  > .skill> .bar > .progress
				{
					background: linear-gradient(45deg, #74b9ff, #0984e3);
				}

				&:nth-child(7)  > .skill> .bar > .progress
				{
					background: linear-gradient(45deg, #ff7675, #d63031);
				}

				&:nth-child(8)  > .skill> .bar > .progress
				{
					background: linear-gradient(45deg, #55efc4, #00b894);
				}

				&:nth-child(9)  > .skill> .bar > .progress
				{
					background: linear-gradient(45deg, #b8e994, #78e08f);
				}
			}
		}
	}

	& > #software-skills
	{
		& > ul
		{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;

			& > .skill
			{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;

				width: 45%;
				max-width: 150px;
				margin: 10px;
				padding: 10px 0;

				border-radius: 12px;

				transition: .3s;

				&:hover
				{
					background: var(--color-primary);
					scale: 1.1;
				}

				& >.skill-icn
				{
					width: 70%;
					height: auto;
					margin: auto;
				}

				& > .skill-label
				{
					margin-top: 15px;

					text-align: center;
				}
			}
		}
	}

	& > #certifications
	{
		& > ul
		{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: wrap;

			& > .flip-card
			{
				width: 100%;
				max-width: 250px;
				height: 300px;
				margin: 20px 10px;

				background-color: transparent;
				list-style: none;

				perspective: 1000px;

				&:hover > .flip-card-inner
				{
					transform: rotateY(180deg);
				}

				& > .flip-card-inner
				{
					position: relative;
					transform-style: preserve-3d;

					width: 100%;
					height: 100%;
					box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

					border: solid 5px var(--color-primary);
					text-align: center;

					transition: transform 0.8s;

					& > .flip-card-front,
					& > .flip-card-back
					{
						position: absolute;

						width: 100%;
						height: 100%;
						padding: 15px;
						box-sizing: border-box;

						backface-visibility: hidden;
						-webkit-backface-visibility: hidden; /* Safari */
					}

					& > .flip-card-front
					{
						background: var(--color-secondary);
						color: black;

						& > .fix-position
						{
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;

							height: 185px;

							& > img
							{
								width: 60%;
								max-width: 150px;
								height: auto;
								max-height: 150px;
							}
						}

						& > h1
						{
							height: 85px;
							margin: 0;

							color: var(--color-font);
							font-size: 1.2rem;
							font-weight: bold;
						}
					}

					& > .flip-card-back
					{
						transform: rotateY(180deg);

						background: var(--color-secondary);
						color: white;

						& > .fix-position
						{
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;

							height: 185px;

							& > span {
								color: var(--color-font);
							}
						}

						& > a
						{
							height: 85px;
						}
					}
				}
			}
		}
	}

	& > #formation > .swiper
	{
		border-radius: 7px;
	}
}